.header {
  width: 100%;
	position: sticky;
  top: 0;
  left: 0;
	padding: 44px 0;
  background-color: var(--transparent);
  transition: var(--transition);
}

#header.scrolled {
  background-color: var(--black-out);
}

.header__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 974px 0 163px;
}
.header__logo {
    flex-shrink: 0;
}
.header__nav {
}
.header__nav-list {
	display: flex;
	gap: 29px;
}
.header__nav-item {
}

.header__nav-link {
  position: relative;
  font-family: var(--font-family);
  font-style: italic;
  line-height: 150%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: right;
	color: var(--white);
}

.header__nav-link::after {
	position: absolute;
	content: '';
	width: 0;
	height: 1px;
	background-color: var(--white);
	bottom: -7px;
	transition: var(--transition);
	left: 50%;
	transform: translateX(-50%);
}

.header__nav-link:hover::after {
	width: 100%;
}

.header__nav-link:focus::after {
	width: 100%;
}

.header__nav-link:active {
	opacity: 0.5;
}

.header__nav-link:active::after {
	opacity: 0.5;
}

@media (min-width: var(--desktop-width)) {
  
}