*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6,
p {
  font-weight: normal;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html, body {
  height: 100%;
}
