:root {
    --mobile-width: 320px;
    --tablet-width: 768px;
    --desktop-width: 1280px;

    --font-size-base: 1rem;      /* 16px */
    --font-size-s: 0.875rem;     /* 14px */
    --font-size-l: 1.25rem;      /* 20px */
    --font-size-xl: 1.5rem;      /* 24px */

		--black-out: #222;
		--dire-wolf: #282829;
		--orion-gray: #55565a;
		--old-map: #d5c9be;
		--white: #fff;

		--restless-sea: #38535d;

    --font-family: 'Arial', sans-serif;
    --font-family-additive: 'Prata', sans-serif;

    --transparent: transparent;

    --transition: all 0.3s ease-in-out;
}

